*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.main{
    background-image: url(imgs/backgr.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    animation: changing 10s infinite;
}
@keyframes changing {
    0%{
        background-image: url(imgs/backgr.avif);
    }
    68%{
        background-image: url(imgs/backgr1.avif);
    }
}
.main .header h1{
    text-align: center;
    padding-top: 50px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 30px;
}
.header_menu ul{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 0 200px;
    list-style-type: none;
}
.header_menu ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
}
.header_menu ul li a:after {
    display: block; 
    content: ""; 
    height: 3px; 
    width: 0%; 
    background-color: #225384; 
    transition: width 0.4s ease-in-out; 
}
.header_menu ul li a:hover:after,
.header_menu ul li a:focus:after {
    width: 100%;
}


.devices{
    margin-top: 50px;
}
.devices .devices_title h1{
    text-align: center;
    font-size: 40px;
}
.devices_cards{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.devices_card{
    background-color: #EBEBEB;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}
.devices_card img{
    width: 200px;
    height: 200px;
}
.devices_card p{
    padding: 50px;
}
.devices_card .device_btn{
    color: #fff;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s linear;
    border: none;
    outline: none;
}
.devices_card .device_btn:hover{
    background-color: #696969;
    padding: 15px 35px;
}
.slider h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.slider_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_container{
    margin-top: 50px;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.slider_card{
    width: 120px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px black;
}
.slider_card > .slider_row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.slider_card > .slider_row > .slider_icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.slider_card > .slider_row > .slider_desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transform: all .3s ease;
}
.slider_desc p{
    color: #b0b0ba;
    padding-top: 5px;
    text-shadow: 1px 1px 1px black;
}
.slider_desc h4{
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
input{
    display: none;
}
input:checked + label{
    width: 800px;
}
input:checked + label .slider_desc{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.slider_card[for="c1"]{
    background-image: url(imgs/slide1.webp);
}
.slider_card[for="c2"]{
    background-image: url(imgs/slide2.webp);
}
.slider_card[for="c3"]{
    background-image: url(imgs/slide3.avif);
}
.slider_card[for="c4"]{
    background-image: url(imgs/slide4.jpg);
}
.swiper{
    width: 100%;
}
.swiper_container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.swiper-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
.swiper-item-1{
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}
.swiper-item-2, .swiper-item-4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}
.swiper-item-2{
    left: 30%;
    transform: translateX(-50%);
}
.swiper-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    width: 430px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.swiper-item-4{
    left: 70%;
    transform: translateX(-50%);
}
.swiper-item-5{
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}
.swiper_controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}
.swiper_controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}
.swiper_controls button:focus{
    outline: none;
}
.swiper_controls_previous{
    position: relative;
}
.swiper_controls_previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}
.swiper_controls_previous:hover:before{
    left: -40px;
}
.swiper_controls_next{
    position: relative;
}
.swiper_controls_next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}
.swiper_controls_next:hover:before{
    right: -40px;
}
.swiper_nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.swiper nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}
.swiper_nav li.swiper_item_selected{
    background: #555;
}
